* {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background: #0f172a;
  color: #e5e7eb;
}

.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card {
  background: #020617;
  padding: 2rem;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.card h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.input-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
  color: #cbd5f5;
}

input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 6px;
  border: none;
  background: #020617;
  color: #e5e7eb;
  border: 1px solid #334155;
}

input:focus {
  outline: none;
  border-color: #6366f1;
}

button {
  width: 100%;
  padding: 0.7rem;
  margin-top: 1rem;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background: #4f46e5;
}

.success {
  margin-top: 1rem;
  color: #22c55e;
  text-align: center;
}
select {
  width: 100%;
  padding: 0.6rem;
  border-radius: 6px;
  background: #020617;
  color: #e5e7eb;
  border: 1px solid #334155;
}
